.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.contact-clickable:hover {
  background-color: rgb(201, 197, 197);
}

#add-contact {
  width: 90%;
  height: 20px;
  font-size: 1rem;
}

.contact-list {
  list-style: none;
  padding-left: 3rem;
  font-size: 1.3rem;
  align-items: left;
  width: 95%;
  text-align: left;
  overflow-y: auto;
  max-height: 250px;
  margin: 5px 0px;
}

.contacts label {
  z-index: 0;
}

.addContactBtn {
  background: var(--clr-accent);
  font-weight: 900;
}

.addContactBtn:hover {
  background: var(--clr-accent);
  transform: translateY(-1px);
  box-shadow: 1px 1px black;
}

.contact-clickable:hover {
  cursor: pointer;
}

.deleteContactBtn:hover {
  cursor: pointer;
  color: red;
}

.online,
.offline {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.online::before,
.offline::before {
  --scale: 0;
  position: absolute;
  width: 25px;
  left: 100%;
  background: black;
  transform: translateY(-70%) scale(var(--scale));
  transform-origin: bottom;
  font-size: 0.7rem;
  transition: 80ms transform;
  padding: 0px 3px;
  text-align: center;
  content: attr(data-tooltip);
  color: white;
  width: max-content;
  background: #333;
  border-radius: 0.3rem;
  justify-content: center;
  letter-spacing: 0.1em;
}

.online:hover::before,
.offline:hover::before {
  --scale: 1;
}

.offline {
  background-color: #bbb;
}

.online {
  background-color: rgb(1, 180, 1);
}

.deleteContactBtn {
  color: rgb(247, 100, 100);
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

.error {
  color: var(--clr-error);
}

.edit-contacts-button {
  font-size: 0.1rem;
}

.edit-contacts-button:hover {
  cursor: pointer;
}

.delete-contacts-button {
  background: rgba(255, 0, 0, 0.473);
  padding: 5px;
  font-weight: 900;
}
