.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    padding-top: 20px;
}

.contact-clickable:hover {
    background-color: grey;
}

.contact-list {
    list-style: none;
    padding-left: 0;
    font-size: 1.3rem
}

.contact-list li:hover {
    cursor: pointer
}

.deleteContactBtn:hover {
    cursor: pointer;
    color: red
}

.offline {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.online {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.deleteContactBtn {
    color: rgb(247, 100, 100);
    transition: transform .2s ease-in-out; 
    transform: scale(1.0); 

}

.error {
    color: red
}