.convo-div-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
  padding-top: 10px;
  color: var(--clr-dark);
}

.convo-div {
  border: 2px solid var(--clr-dark);
  font-size: 20px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 800px;
  overflow-y: scroll;
  background-color: var(--clr-light);
}

.convo-div p {
  padding: 6px 16px;
  border-radius: 22px;
  margin: 10px;
  max-width: 550px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .convo-div-container {
    height: 85vh;
  }
  .convo-div {
    width: 95vw;
    max-width: 100%;
    border: none;
  }

  .convo-div p {
    max-width: 60vw;
  }
}

.friendava {
  max-height: 50px;
  max-width: 50px;
  margin-left: 5px;
  align-self: center;
}

.sent-text {
  display: flex;
  justify-content: right;
}
.sent-text p {
  background-color: var(--clr-sent);
  color: black;
}

.received-text :is(p, .textedimage) {
  background-color: var(--clr-received);
  grid-column: 2/3;
  justify-self: left;
}

.received-text {
  display: grid;
  grid-template-columns: 50px auto;
}

.date-marker {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.date-marker p {
  background: var(--clr-secondary);
}

.textedimage {
  width: 60%;
  height: 100%;
  margin: 8px;
}
