.loginform {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
label {
    letter-spacing: 2px;
}

a:hover {
    cursor: pointer;
}

.error {
    color: red
}

