.textarea {
  font-size: 1.4rem;
  background: var(--clr-light);
  color: var(--clr-dark);
  width: 100%;
}

.messageinput {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: fit-content;
}

@media (max-width: 768px) {
  .textarea {
    width: 95vw;
    height: 10vh;
    bottom: 3px;
  }
}

.imagebutton {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 3;
}
