.textarea {
  font-size: 1.4rem;
  background: var(--clr-light);
  color: var(--clr-dark);
}

.messageinput {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .textarea {
    width: 95vw;
    height: 10vh;
    bottom: 3px;
  }
}
